body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  text-align: left;
  border: #778899 solid 0.5px;
  border-radius: 25px;
  padding: 1rem;
  width: 18rem;
  height: 27rem;
  display: inline-grid;
  margin: 1rem 1rem;
  /* box-shadow: 1px 2px #00CED1 */
}

button {
  border: none;
  height: 3rem;
  width: max-content;
  font-size: 22px;
}

.gift-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.gift-cat {
    color: #008080;
}

* {
    font-family: 'Archivo Narrow', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.card > * {
    margin: 0;
}

#login-form  input {
    padding: 3px;
    margin: 3px;
    font-size: 15px;
}

#login-form {
    text-align: left;
    padding: 10px;
}

header {
    background: #008080;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    color: white;
}
